{%  extends 'company/main.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col">
		<div class="card card-body"  align="center">
			<form action="" method="POST">
				{% csrf_token %}
				<div class="input-group mb-3">
					<h6>نام فرایند : </h6>
					{{ form.name }}
					<h6>نام کاربر : </h6>
					{{ form.personal }}
					<h6>نام محصول : </h6>
					{{ form.Product }}
					<h6>نام دستگاه : </h6>
					{{ form.machine }}
					<h6>وضعیت : </h6>
					{{ form.status }}
					<h6>تعداد : </h6>
					{{ form.number }}
				</div>
				<input type="submit" name="submit">
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="card card-body" align="rtl">
			<form method="get">
				{{myfilter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>

<div class="col-md">
	<h5></h5>
	<hr>
	<div class="card card-body">
		<a class="btn btn-primary  btn-sm btn-block" href="">وضعیت تولید</a>
		<table class="table table-sm"  dir="rtl">
			<tr>
				<th>شماره</th>
				<th>فرآیند</th>
				<th>دستگاه</th>
				<th>کاربر</th>
				<th>محصول</th>
				<th>تاریخ</th>
				<th>وضعیت</th>
				<th>تعداد</th>
				<th>پاک کردن</th>
				<th>ویرایش</th>
			</tr>
			{% for proc in process %}
			<tr>
				<td>{{ proc.id }}</td>
				<td>{{ proc.name }}</td>
				<td>{{ proc.machine }}</td>
				<td>{{ proc.user }}</td>
				<td>{{ proc.Product }}</td>
				<td>{{ proc.date }}</td>
				<td>{{ proc.status }}</td>
				<td>{{ proc.number }}</td>
				<td><a class='btn btn-danger' href="{% url 'delete_process' proc.id %}">پاک کردن</a></td>
				<td><a name="Update" class="btn btn-info" href="{% url 'update_process' proc.id %}  ">ویرایش</a></td>
			{% endfor %}
			</tr>
	
		</table>
	</div>
	</div>

{% endblock %}
